<div class="col-md-12 user-container">
  <h1 class="text-center font-weight-bold">{{ titleTable }}</h1>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="hidden">#</th>
      <th *ngFor="let item of columns">
        {{ item.label }}
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-template [ngIf]="rows.length === 0">
      <tr>
        <td colspan="10" class="not-found">
          No results found
        </td>
      </tr>
    </ng-template>
    <tr *ngFor="let item of rows; let i = index">
      <td class="hidden">{{ pageSize * (page - 1) + i + 1 }}</td>
      <td *ngFor="let column of columns" [ngStyle]="column.style">
        <ng-template [ngIf]="column.field === 'gender'" [ngIfElse]="notGender">
          {{ item.gender === '1' ? 'Male' : 'Female' }}
        </ng-template>
        <ng-template #notGender>
          {{ item[column.field] }}
        </ng-template>
      </td>
      <td>
        <div class="d-flex justify-content-between">
          <button class="btn btn-info" (click)="openModal(item, 'view')">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </button>
          <ng-template [ngIf]="role === 'admin'">
            <button class="btn btn-secondary" (click)="openModal(item, 'edit')">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" (click)="openModal(item, 'delete')">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <ngb-pagination class="d-flex justify-content-end" [pageSize]="pageSize" [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)"></ngb-pagination>
    <div class="footer-pagination">
      Total results: {{ total }}
    </div>
  </div>
</div>

