<!-- <div class="row">
  <div class="col-md-6"> -->
    <form [formGroup]="formAccount" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Full Name:</label>
            <input type="text" class="form-control" formControlName="fullName" id="fullName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Account Number:</label>
            <input type="text" class="form-control" formControlName="accountNumber" id="accountNumber">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Balance:</label>
            <input type="text" class="form-control" formControlName="balance" id="balance">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" class="form-control" formControlName="email" id="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Gender:</label>
            <select class="form-control">
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
          <button type="submit" class="btn btn-success" style="width:100px">Add</button>
          <button type="button" class="btn btn-info" style="width:100px; margin-left: 15px;">Reset</button>
        </div>
      </div>
    </form>
  <!-- </div>
</div> -->