<div class="col-md-12 user-container">
  <h2 style="text-align: center;"> Bank Account</h2>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="hidden">ID</th>
      <th *ngFor="let item of columns">
        {{ item.label }}
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of rows; let i = index">
      <td class="hidden">{{ i + 1 }}</td>
      <td *ngFor="let item1 of columns">
        {{ item[item1.field] }}
      </td>
      <td>
        <button class="btn btn-success"> Delete</button>
        <button class="btn btn-success" style="margin-left: 20px;"> Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage($event)"></ngb-pagination>
</div>
